
nav{
    background-color:rgb(12, 107, 116);
    overflow:hidden; 
    border-radius: 10px 30px  10px 5px ;
    }
    
    nav ul{
        list-style-type:none; 
        padding:0; 
        margin: 0;
        }
    
        nav ul li { 
            float:left;
        }
        nav ul li a{
            text-decoration: rgb(67, 226, 4); 
            color:rgb(243, 236, 236);
             padding: 12px 25px; 
             display: inline-block ;
    }
    nav ul li a:hover{
    background-color:rgb(139, 125, 216); 
    color:white;
    }
    .Dropdown-list{
    background-color:rgb(12, 107, 116); 
    position:absolute; 
    display: none;
    }
      .Dropdown-list a
    { 
        display: block;
    }
    .Dropdown-menu:hover 
    .Dropdown-list
    { 
        display: block;
    }
    body{
        margin-left: 10px; 
        margin-right:10px;
        background-color: rgb(10, 18, 18);
         
        }
    .rnav
    {
    float: right;
    }
    .img1
    {
    text-align:center;
    list-style-type:none; 
     
    }
    .welcome-container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 100px auto;
        max-width: 400px;
        min-height: 75vh;
        
    }
    